@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.clock {
    font-family: 'Zen Dots';
}

.ampm {
    font-family: cursive;
}

.bday {
    font-family: 'Happy Monkey';
}

.diamond {
    font-family: Outfit;
}

svg {
    height: 24px;
    width: 24px;
    fill: white;
}